Django==1.11
django-analytical==2.0.0
django-haystack==2.8.1
django-kronos==0.3
django-selectable==1.1.0
django-selenium==0.9.8
future==0.15.2
httplib2==0.9.1
lxml==3.4.2
psycopg2==2.5.4
pycountry==1.12
pygeoip==0.3.2
pyparsing==1.5.7
pysolr==2.1.0b0
python-dateutil==2.4.2
pytz==2018.4
requests==2.7.0
selenium==3.12.0
six==1.9.0
Unidecode==0.4.18
